.card{
    height: 200px;
    width: 350px;
    border: black solid 2px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.card>div{
    height: 100%;
    width: 50%;
}
.card>div:nth-child(1){
    padding: 5% 0% 5% 0%;
}
.qty{
    display: flex;
    align-items: center;
}
.description>div{
height: 40%;
width: 100%;
}
.description>div:nth-child(1){
    height: 20%;
}
.circle{
    height: 90%;
    width: 100%;
    border-radius: 50%;
}